Repository volcano-sh/website, pull requests merged in 2025-07, with the labels that each got.

#392 fix: deployment examples in tutorials
  content/en/docs/tutorials.md
  content/zh/docs/tutorials.md
Labels: approved, size/S, kind/documentation, lgtm, retest-not-required-docs-only

#397 feat: fix 404 page of hierarchical_queue
  content/en/docs/queue.md
  content/en/docs/v1-11-0/queue.md
  content/en/docs/v1-12-0/queue.md
Labels: kind/bug, kind/feature, approved, size/XS, kind/cleanup, kind/documentation, kind/design, lgtm, retest-not-required-docs-only

#400 Change the discription of background of multi cluster scheduling
  content/en/docs/multi_cluster_scheduling.md
  content/en/docs/v1-11-0/multi_cluster_scheduling.md
  content/en/docs/v1-12-0/multi_cluster_scheduling.md
  content/zh/docs/multi_cluster_scheduling.md
  content/zh/docs/v1-11-0/multi_cluster_scheduling.md
  content/zh/docs/v1-12-0/multi_cluster_scheduling.md
Labels: approved, kind/documentation, size/M, lgtm, retest-not-required-docs-only
